#hidden-par{
    display: none;          /*this doesn't even load it, opposite block*/
    visibility: hidden;     /*this just makes it transparent, opposite visible*/
}

.mouse-div{
    height: 300px;
    width: 300px;
    
    display: inline-block;
}

.tomato{
    background-color: tomato;
}

.green{
    background-color: green;
}